.font{
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
}

.detalles{ 
     width: 50%;
}

.letra{
    font-family: 'Acme', sans-serif;
}

.colorFondo{
    background-color: rgb(24, 22, 22);
}

nav{
    background-color: black;
}

footer{
    background-color: black;
}

footer .medidaItems{
    width: 300px;
}