.ocultar{
    display: none!important;
}

.visible{
    display: flex;
}


/*Pag Administrar*/

.font{
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
}

.detalles{ 
     width: 50%;
}

.letra{
    font-family: 'Acme', sans-serif;
}

.imgSmall{
    padding-left: 0!important;
    padding-right: 0!important;
}

.colorFondo{
    background-color: rgb(24, 22, 22);
}

nav{
    background-color: black;
}

footer{
    background-color: black;
}

footer i{

}
